.module-a1 {
  font-family: "Raleway", sans-serif;
  margin: 50px 0;
}
.module-a1 .content .content-tx .border-h {
  width: 40px;
  height: 2px;
  background: #00bfff;
  margin-bottom: 25px;
}
.module-a1 .content .content-tx h5 {
  margin: 15px 0;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: 2px;
  font-size: 1.1em;
}
.module-a1 .content .content-tx p {
  color: #6f6f6f;
  font-size: 0.9em;
  line-height: 0.5cm;
}
.module-a1 .content .content-tx .tx-2 {
  border-left: 2px solid #00bfff;
  padding-left: 20px;
  font-size: 1em;
  margin: 40px 0;
  letter-spacing: 1px;
  font-style: italic;
}
.module-a1 .content .content-tx .sign {
  text-align: right;
  margin-top: 50px;
}
.module-a1 .content .content-tx .sign h5 {
  clear: both;
  color: #8d8d8d;
  font-size: 0.4cm;
}
