.module-a3 {
  background: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}
.module-a3 .content .header-md {
  text-align: center;
}
.module-a3 .content .header-md .bd-h {
  width: 40px;
  height: 2px;
  background-color: #00bfff;
  margin: 20px auto;
}
.module-a3 .content .header-md h6 {
  margin: 15px 0;
  letter-spacing: 3px;
  font-weight: bold;
  color: #404040;
}
.module-a3 .content .title-card {
  margin: 15px 0;
  letter-spacing: 3px;
  font-weight: bold;
  color: #404040;
}
.module-a3 .content .tex-card {
  letter-spacing: 3px;
  color: #a7a4a4;
  font-weight: bold;
  font-size: 1em;
}
.module-a3 .content .holder {
  position: relative;
  font-size: 0.9em;
  overflow: hidden;
}
.module-a3 .content .holder .content-in-card {
  background: rgba(0,0,0,0.8);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  visibility: hidden;
}
.module-a3 .content .holder:hover .content-in-card {
  visibility: visible;
  padding: 25px 0;
  height: 150px;
  transition: height 0.3s ease;
  opacity: 0.9;
  padding: 20px;
}
.module-a3 .content .holder:hover img {
  transform: translate(0,3em);
  transition: transform 1s;
}
@keyframes cartcontent {
  0% {
    height: 0;
  }
  100% {
    height: 25%;
  }
}
@keyframes imgbt {
  100% {
    bottom: 10px;
  }
}
