.module-check-2 .content .h-note {
  font-weight: bold;
}
.module-check-2 .content .lbnote {
  color: #646161;
  font-size: 0.9em;
}
.module-check-2 .content #notes {
  height: 14em;
  line-height: 1.5;
  display: block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  text-indent: 10px;
  outline: none;
  color: #3f3f3f;
  border: 1px solid #9e9e9e;
}
