@font-face {
  font-family: 'Raleway-rg';
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: 'Raleway-smb';
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: 'Raleway-thin';
  src: url(../fonts/Raleway-Thin.ttf);
}
@font-face {
  font-family: 'Raleway-bold';
  src: url(../fonts/Raleway-Bold.ttf);
}
#md_detail_3 {
  margin: 10px;
  font-family: 'Raleway-rg';
}
@media screen and (max-width: 768px) {
  #md_detail_3 .comment-rating label {
    width: 30% !important;
  }
  #md_detail_3 .review-form label {
    width: 30% !important;
  }
  #md_detail_3 .review-form textarea,
  #md_detail_3 .review-form input[type="text"] {
    width: 60% !important;
  }
}
#md_detail_3 .detail-tabs {
  display: flex;
}
#md_detail_3 .detail-tabs a {
  text-transform: uppercase;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  background: rgba(0,191,255,0.7);
  padding: 15px 25px;
  text-decoration: none;
  display: inline-block;
}
#md_detail_3 .detail-tabs .active {
  background: #00bfff;
}
#md_detail_3 hr {
  width: 35px;
  border: #00bfff 1px solid;
  margin-left: 0;
}
#md_detail_3 h4 {
  text-transform: uppercase;
  font-size: 18px;
  text-align: left;
  font-family: 'Raleway-rg';
  font-weight: 600;
  padding-top: 10px;
  font-family: 'Raleway-bold';
}
#md_detail_3 p {
  margin: 10px 0;
  font-size: 15px;
  line-height: 25px;
}
#md_detail_3 .reply-title {
  font-family: 'Raleway-bold';
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 18px;
}
#md_detail_3 .comment-rating {
  display: flex;
}
#md_detail_3 .comment-rating label {
  white-space: pre-line;
  font-family: 'Raleway-thin';
  text-transform: uppercase;
  width: 10%;
  font-size: 16px;
}
#md_detail_3 .rating-stars .stars {
  display: inline-block;
  position: relative;
  direction: rtl;
}
#md_detail_3 .rating-stars .stars a {
  font-size: 14px;
  color: #ffffff;
}
#md_detail_3 .rating-stars .stars a i {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00bfff;
}
#md_detail_3 .rating-stars .stars a:hover {
  color: #00bfff;
}
#md_detail_3 .rating-stars .stars input {
  display: none;
}
#md_detail_3 .rating-stars .stars .star1:hover ~a {
  color: #00bfff;
}
#md_detail_3 .rating-stars .stars .star2:hover ~a {
  color: #00bfff;
}
#md_detail_3 .rating-stars .stars .star3:hover ~a {
  color: #00bfff;
}
#md_detail_3 .rating-stars .stars .star4:hover ~a {
  color: #00bfff;
}
#md_detail_3 .rating-stars .stars .star5:hover ~a {
  color: #00bfff;
}
#md_detail_3 .rating-stars .stars .star4:checked ~a {
  color: #00bfff;
}
#md_detail_3 .rating-select {
  position: relative;
  font-family: 'Raleway-rg';
}
#md_detail_3 .rating-select .rating-select-box {
  margin: 5px;
  padding: 5px 10px;
  background: rgba(0,0,0,0.05);
  border: 1px #000000 solid;
  cursor: pointer;
}
#md_detail_3 .rating-select .rating-select-box .select-arrow {
  display: inline-block;
  padding-left: 40px;
}
#md_detail_3 .rating-select ul {
  visibility: hidden;
  transition: 0.3s ease-in-out;
  background: #ffffff;
  position: absolute;
  top: 30px;
  left: 5px;
  min-width: 150px;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
  border-top: 2px solid #00bfff;
}
#md_detail_3 .rating-select ul li {
  font-size: 13px;
  padding: 10px;
  text-transform: uppercase;
}
#md_detail_3 .rating-select ul li a {
  transition: 0.3s ease-in-out;
  color: rgba(0,0,0,0.5);
  text-decoration: none;
}
#md_detail_3 .rating-select ul li a:hover {
  transition: 0.3s ease-in-out;
  color: #000000;
}
#md_detail_3 .review-form {
  margin: 15px 0;
}
#md_detail_3 .review-form label {
  white-space: pre-line;
  font-family: 'Raleway-thin';
  text-transform: uppercase;
  width: 10%;
  font-size: 16px;
}
#md_detail_3 .review-form textarea,
#md_detail_3 .review-form input[type="text"] {
  width: 85%;
  font-size: 10px;
  border: 1px rgba(0,0,0,0.7) solid;
  padding: 10px;
  border-radius: 4px;
}
#md_detail_3 .review-form .remember-label {
  font-size: 13px;
  font-family: 'Open Sans' !important;
  color: rgba(0,0,0,0.7);
}
#md_detail_3 .review-form input[type="checkbox"] {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
}
#md_detail_3 .review-form textarea {
  resize: none;
}
#md_detail_3 .form-submit {
  text-align: center;
}
#md_detail_3 .form-submit .btn-default {
  font-size: 14px;
  border: 2px #000000 solid !important;
  border-radius: none !important;
  padding: 9px 39px 9px 20px;
  font-family: 'Raleway-smb';
  text-transform: uppercase;
  background: 0 !important;
  transition: .3s ease-in-out all;
  position: relative;
  margin: 0 auto !important;
}
#md_detail_3 .form-submit .btn-default::before {
  font-family: "Font Awesome 5 Free" !important;
  content: "\f30b";
  position: absolute;
  top: 25%;
  right: 15px;
  font-weight: 800;
}
#md_detail_3 .form-submit .btn-default:hover {
  border: 2px #00bfff solid !important;
  color: #00bfff;
  transition: .3s ease-in-out all;
}
#md_detail_3 .displayVisible {
  visibility: visible !important;
  opacity: 1 !important;
  top: 40px !important;
  transition: 0.3s ease-in-out;
}
