@font-face {
  font-family: 'Raleway-rg';
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: 'Raleway-smb';
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: 'Raleway-thin';
  src: url(../fonts/Raleway-Thin.ttf);
}
@font-face {
  font-family: 'Raleway-bold';
  src: url(../fonts/Raleway-Bold.ttf);
}
#md_search_2 .search_form {
  font-family: 'Raleway-smb';
  background: rgba(159,161,156,0.3);
  display: block;
  padding: 10px 10px 10px 20px;
  position: absolute;
  bottom: 5px;
  border: 1px solid #9fa19c;
}
#md_search_2 .search_form .search_input {
  width: 100%;
  border: none;
  line-height: 1.5rem;
  padding: 10px 15px;
  font-size: 15px;
}
#md_search_2 .search_form a {
  color: #000000;
}
#md_search_2 .search_form a i {
  display: inline;
  position: absolute;
  top: 40%;
  right: 30px;
}
