body {
  font-family: "Raleway", sans-serif;
}
.nav-header {
  position: relative;
  top: 0;
  left: 0;
  padding: 20px 0;
  border-bottom: 1px solid #dfdfdf;
}
.nav-header .navbar-light .navbar-nav .nav-link {
  color: #000;
  font-weight: 550;
  padding: 0 10px;
}
.nav-header .navbar-light .navbar-nav .nav-link:hover {
  color: #00bfff;
  transition: 0.5s;
}
.nav-header .menucart {
  position: relative;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #222;
  text-decoration: none;
  font-size: 14px;
  margin: 0 15px;
  font-weight: 600;
}
.nav-header .menucart .submenu {
  width: 250px;
  z-index: 9999;
  top: 80px;
  position: absolute;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  right: 5px;
  background-color: #fff;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  border-top: #00bfff 4px solid;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.nav-header .menucart .submenu .row {
  margin-top: 10px;
}
.nav-header .menucart .submenu .img-cart-hv {
  width: 100%;
}
.nav-header .menucart .submenu .total {
  font-size: 0.8em;
}
.nav-header .menucart .submenu .price {
  font-size: 1.1em;
  color: #00bfff;
}
.nav-header .menucart .submenu .sp2 {
  margin: 20px 5px;
}
.nav-header .menucart .submenu .sp2 .btn-view-cart {
  background: #00bfff;
  color: #fff;
  color: 0.9em;
  text-decoration: none;
  padding: 2px 5px;
  margin-right: 10px;
}
.nav-header .menucart:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.nav-header #search {
  display: none;
  position: fixed;
  width: 63%;
  height: 70px;
  padding: 20px 10px;
  left: 20%;
  top: 19%;
  z-index: 9999;
  border: 1px solid #c2c0c0;
  background-color: #dfdfdf;
}
.nav-header #search #ipsearch {
  width: 100%;
  height: 45px;
  margin-top: -10px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #c2c0c0;
}
.nav-header #search i {
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  right: 15px;
  font-size: 0.8em;
  bottom: 30px;
}
.nav-header .submenu-sb {
  width: 500px;
  top: 120%;
  z-index: 9999;
  position: absolute;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  right: 5px;
  background-color: #fff;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  border-top: #00bfff 4px solid;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.nav-header .submenu-sb .title a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}
.nav-header .submenu-sb .title a:hover {
  color: #00bfff;
  transition: 0.3s;
}
.nav-header .gallery-menu:hover .submenu-sb {
  visibility: visible;
  opacity: 1;
}
.nav-header .blog-menu:hover .submenu-sb {
  visibility: visible;
  opacity: 1;
}
