@font-face {
  font-family: 'Open-sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Raleway-rg';
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: 'Raleway-smb';
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: 'Raleway-thin';
  src: url(../fonts/Raleway-Thin.ttf);
}
@font-face {
  font-family: 'Raleway-bold';
  src: url(../fonts/Raleway-Bold.ttf);
}
#module_12 footer {
  font-family: 'Raleway-smb';
  background-color: #1d1c1c;
  color: #9fa19c;
  text-align: center;
  padding: 15px;
}
