@font-face {
  font-family: 'Open-sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Raleway-rg';
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: 'Raleway-smb';
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: 'Raleway-thin';
  src: url(../fonts/Raleway-Thin.ttf);
}
@font-face {
  font-family: 'Raleway-bold';
  src: url(../fonts/Raleway-Bold.ttf);
}
#md_sliderbar_4 hr {
  width: 35px;
  border: #00bfff 2px solid;
  margin-left: 0;
}
#md_sliderbar_4 h4 {
  text-transform: uppercase;
  font-size: 18px;
  text-align: left;
  font-family: 'Raleway-smb';
  padding-top: 10px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
#md_sliderbar_4 .feeds {
  display: flex;
}
#md_sliderbar_4 .feeds i {
  color: #00bfff;
  padding: 15px 10px;
}
#md_sliderbar_4 .feeds p {
  margin: 0;
  font-family: 'Raleway-rg';
  padding: 5px;
  color: #9fa19c;
  line-height: 25px;
  font-size: 16px;
}
#md_sliderbar_4 .feeds p span {
  padding-top: 5px;
  display: block;
}
