@import './variables.less';


#module_7{
    @media screen and (max-width: @md) {
        .grid_items{
            padding: 5px 0 !important;
        }
        .icon_and_header{
            display: block !important;
        }
        .icon{
            padding: 0 !important;
        }
        .header{
            padding: 0 !important;
            .header_title{
                padding: 0 !important;
                font-size: @fsize-medium + 4 !important;
            }
        }
        .descriptions{
            padding: 0 !important;
        }
    }
    padding: 25px 0;
    .container{
        hr{
            width: 35px;
            border: @color-primary 2px solid;
            margin-left: 0;
        }
        h4{
            .default-title();
        }
        .row{
            .grid_items{
                padding: 25px 0;
                *{
                    padding: 7px 0;
                }
                .icon_and_header{
                    display: flex;
                    .icon{
                        .iconify{
                            font-size: @fsize-large + 25;
                        }
                    }
                    .header{
                        padding-left: 10px;
                        .header_title{
                            .raleway-bold();
                            font-size: @fsize-medium + 3;
                        }
                        .header_subtitle{
                            .raleway-sm-bold();
                            font-size: @fsize-medium;
                            color: @color-secondary;
                            letter-spacing: 4px;
                        }
                    }
                }
                .descriptions{
                    .raleway-regular();
                    font-size: @fsize-medium + 1;
                }
            }
        }
    }
}