@font-face {
  font-family: 'Open-sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Raleway-rg';
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: 'Raleway-smb';
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: 'Raleway-thin';
  src: url(../fonts/Raleway-Thin.ttf);
}
@font-face {
  font-family: 'Raleway-bold';
  src: url(../fonts/Raleway-Bold.ttf);
}
#module_1 {
  background: #00bfff;
  padding: 10px 0;
}
@media screen and (max-width: 768px) {
  #module_1 {
    display: none !important;
  }
}
#module_1 .container .contact_bar_left {
  font-family: 'Raleway-smb';
  font-size: 13px;
  color: #ffffff;
  padding: 10px;
  width: auto;
  display: inline-flex;
}
#module_1 .container .contact_bar_left ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}
#module_1 .container .contact_bar_left ul li {
  padding-right: 10px;
  float: left !important;
}
#module_1 .container .contact_bar_left ul li a {
  color: #ffffff;
  text-decoration: none;
}
#module_1 .container .contact_bar_left ul li a i {
  margin-right: 5px;
}
#module_1 .container .contact_bar_right {
  font-family: 'Raleway-smb';
  color: #ffffff;
}
#module_1 .container .contact_bar_right ul {
  float: right;
  width: auto;
  display: inline-flex;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}
#module_1 .container .contact_bar_right ul li {
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}
#module_1 .container .contact_bar_right ul li a {
  float: left;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 2.75em;
  height: 2.75em;
  line-height: 2.7em;
  text-align: center;
}
