@import "../../var/var.less";
#h-module-m3 hr {
  background: #00BFFF !important;
  height: 2px;
  width: 35px;
  border: none;
  text-align: center;
  background: #ffc925;
  display: inline-block;
  margin: 5px auto;
}
#h-module-m3 ul li {
  font-weight: 600;
  margin: 15px 0;
}
